.env
__pycache__/
*.pyc
.venv/
venv/

tmp/*
logs/*
outputs/*
assets/audio/*
assets/fonts/*
assets/images/*
assets/video/*
subtitles/*

!tmp/.gitkeep
!logs/.gitkeep
!outputs/.gitkeep
!assets/audio/.gitkeep
!assets/fonts/.gitkeep
!assets/images/.gitkeep
!assets/video/.gitkeep
!subtitles/.gitkeep
